@import "tailwindcss";

:root{
    font-family: "Roboto Light", sans-serif;
    background-color: #e3d5d5;
}
a {
    text-decoration: none;
}

h1{
    text-align: center;
}

button {
    background-color: #af3a3a;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    border: 1px solid black;
}

button:hover{
    background: indianred;
    box-shadow: 1px 1px 5px 1px black;
}