.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    padding: 50px;
    margin: 50px;
    list-style: none;

    text-decoration: none;
}

.categoryCard {

    background: darkred;
    padding: 5px;
    width: 200px;
    height: 175px;
    color: white;
    text-decoration: none;


    border-radius: 25px;
    border: 2px solid black;

    box-shadow: 5px 5px 15px 5px darkgrey;
}

.categoryCard:hover {
    background: indianred;
    box-shadow: 5px 5px 15px 5px black;
}

.categoryCard:visited, .categoryCard:link{
    text-decoration: none;
}

#myDIV{
    display: none;
}