.flex-container {
    /* We first create a flex layout context */
    display: flex;

    /* Then we define the flow direction
       and if we allow the items to wrap
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: row wrap;

    /* Then we define how is distributed the remaining space */
    justify-content: space-around;

    padding: 50px;
    margin: 50px;
    list-style: none;

    text-decoration: none;
}

.flex-item {

    background: darkred;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    text-decoration: none;


    border-radius: 25px;
    border: 2px solid black;

    box-shadow: 5px 5px 15px 5px darkgrey;
}

.flex-item:hover {
    background: indianred;
    box-shadow: 5px 5px 15px 5px black;
}

.flex-item:visited, .flex-item:link{
    text-decoration: none;
}

